// classes

.intro {
}

.body-whole {
}

.b1 {
}

.b2 {
}

.b3 {
}

.footer {
  background-color: #bf77e6;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.details-text {
}

.super-footer {
}

// ids

#start {
}

#whole {
}

#about-us {
}

#how-works {
}

#info-pane {
}

#map {
  bottom: 0;
  right: 60px;
}

#details {
}

#details-name {
}

#links {
}

// images

#s1 {
}

#s2 {
}

#bottom-image {
}
