// classes

.intro {
}

.body-whole {
}

.b1 {
}

.b2 {
}

.b3 {
}

.footer {
  background-color: #a172f7;
  bottom: 0;
}

.details-text {
}

.super-footer {
}

// ids

#start {
}

#whole {
}

#about-us {
}

#how-works {
}

#info-pane {
}

#map {
  float: right;
}

#details {
  float: left;
}

#details-name {
  float: left;
}

#links {
}

// images

#s1 {
}

#s2 {
}

#bottom-image {
}
